In [85]:
import numpy as np
import pandas as pd

In [110]:
df1 = pd.read_csv('output_with_DA.csv')

In [111]:
df2 = pd.read_csv('output_without_DA.csv')

In [114]:
df1 = df1.sort_values('ID', ascending = False)
df1.head()

            ID   Class
975   9996.jpg   YOUNG
4233  9995.jpg  MIDDLE
5143  9993.jpg  MIDDLE
1337  9981.jpg   YOUNG
2977  9979.jpg  MIDDLE

In [115]:
df2 = df2.sort_values('ID', ascending = False)
df2.head()

            ID   Class
975   9996.jpg   YOUNG
4233  9995.jpg  MIDDLE
5143  9993.jpg  MIDDLE
1337  9981.jpg     OLD
2977  9979.jpg  MIDDLE

In [117]:
from sklearn.metrics import confusion_matrix, classification_report

y_true = df2.Class
y_pred = df1.Class

classes=['YOUNG', 'MIDDLE', 'OLD']

confusion_matrix(y_true, y_pred, labels=['YOUNG', 'MIDDLE', 'OLD'])

array([[2058,  355,   89],
       [ 362, 3048,  219],
       [  25,   91,  389]], dtype=int64)

In [118]:
from sklearn.metrics import confusion_matrix, classification_report

y_true = df1.Class
y_pred = df2.Class

classes=['YOUNG', 'MIDDLE', 'OLD']

confusion_matrix(y_true, y_pred, labels=['YOUNG', 'MIDDLE', 'OLD'])

array([[2058,  362,   25],
       [ 355, 3048,   91],
       [  89,  219,  389]], dtype=int64)

In [119]:
df1.shape

(6636, 2)